/*
* @Author: admin
* @Date:   2018-10-13 20:27:30
* @Last Modified by:   admin
* @Last Modified time: 2018-10-15 19:58:17
*/
header{
	width: 100%;
	height: 70px;
	
	padding: 0px 20px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #F2F2F2;
    box-shadow: 0px 5px 5px #F7F7F7;
    padding: 10px 0;
    margin-bottom: 10px;
}
header span{
	display: block;
	position: absolute;
	width: 40px;
	height: 70px;
	top: 50%;
	margin-top: -35px;
	line-height:70px;
}
header .left{
	left: 20px;
	cursor: pointer;
}
header .right{
	width:60px;
	height:70px;
	right: 20px;
	cursor: pointer;
	
}
header img{
	width: 20px;
	height: 20px;
}
header p{
	width: 100px;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
	text-align: center;
	 line-height: 70px;
	 margin-top:-10px;
}

/*商品信息*/
main{
width:95%;
margin-left:10px;


}
.imfor{
	overflow: hidden;
	border-bottom:1px solid #ccc;
	padding-top:10px;
	padding-bottom:20px;
}
.imfor>div{
	float: left;
}
.imfor .choice{
	margin-top:10%;
	margin-right:10px;
	position: relative;
}
.imfor .bg,.choice .bg{
	width:20px;
	height:20px;
	background:#fe5478 url('../images/right.png') center no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:5px;
    display:none;

}
.imfor .choice input{
	 width:20px;
	height:20px;
	z-index: 10;
	color:red;
	
}

.pic{
	width:30%;
}
.pic img{
	width:100%;
}

.news{
	width:40%;
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	
}

.news .con{
	color: #999;
	
}
.news .price{
	color:#fe5478;
	margin-top:10px;
}

/*数量*/
.num{
	width:20%;
	margin-top:10%;
}
 .num>div{
    width:100%;
    border:1px solid #000;
	box-sizing:border-box;
	border-radius:5px;
    overflow:hidden;
}
 .num>div>div{
	height:33px;
	float: left;
	text-align:center;
	line-height:33px;
	
}
.num .left{
	width:20%;
	cursor:pointer;
	
}
.num .right{
	width:20%;
	cursor:pointer;
}
.num .center{
	width:60%;
}
.num input{
	height:33px;
	width:100%;
	text-align:center;
	
}


/*结算部分*/
.count{
	width:95%;
	overflow:hidden;
	margin-left:10px;
	background:#fff;
	
	position: fixed;
	left:0px;
	bottom:46px;
	height:45px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;

}
.count .choice{
	float:left;
	line-height:45px;
}

.count input{
	width:20px;
	height:20px;
}
.count .total{
	float:right;
}
.count .choice .bg{
	width:20px;
	height:20px;
	background:#fe5478 url('../images/right.png') center no-repeat;
	position:absolute;
	top:9px;
	left:0px;
	border-radius:5px;
    display:none;

}
.count .total>div{
	float:left;
}

.total .sure{
	width:160px;
	height:45px;
	background:#fe5478;
	color:#fff;
	text-align:center;
	line-height:45px;
}

.total .sure a{
	display:block;
	text-decoration:none;
	color:#fff;
}
.total .price{
	height:45px;
	line-height:45px;
	margin-right:10px;
}
.total .price span{
	color:#fe5478
}

footer{
	width:100%;
	height:45px;
	position:fixed;
	bottom:0px;
	left:0px;
	background:#fff;
	
    font-size:12px;

}

footer ul{
	display: flex;
}

footer ul li{
	flex:1;
	text-align: center;
	padding-top:5px;
}
footer img{
	width:20px;
	height:20px;
	visibility: center;
}
footer a{
	text-decoration: none;
	color:#000;
}
footer .current a{
	color: rgb(254, 84, 120);
}