/*
* @Author: admin
* @Date:   2018-10-13 13:49:53
* @Last Modified by:   admin
* @Last Modified time: 2018-11-07 18:16:03
*/
body{

	min-width: 320px;
	max-width: 640px;
    margin: 0 auto;
   
}
body,html{
	width:100%;
	height:100%;
}
header{
	width: 100%;
	margin-top:20px;
}
header h2{
	text-align: center;
}
header h2 img{
	width:90px;
	height: 90px;
}
header p{
	margin-top: 10px;
    color: #fe5478;
    font-size: 16px;
    text-align:center;
}

/*表单部分*/
.tel,.pwd{
	width:90%;
	margin:20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding-left: 10px;
}
.tel>div,.pwd>div{
	float: left;
	
}
.tel img,.pwd img{
	width:16px;
}
.icon_tel,.icon_pwd{
	width:20%;

}
.text_tel,.text_pwd{
	width:80%;
	
}
.text_tel input,.text_pwd input{
	width:100%;
	height:30px;
	border:none;
	outline: none;

}

/*递交按钮*/
.push{
	overflow:hidden;
	width:100%;
}
.push>div{
	width:90%;
	float:left;
	margin-left: 40px;

}
.push button{
	width:100%;
	height:40px;
	background: #fe5478;
	color:#fff;
	border:none;
	border-radius: 5px;
	
}

.other{
	width:90%;
	margin:20px;
	overflow:hidden;

}

.other>div{
	
}
.other .left{
	float:left;
}
.other .right{
	float:right;
}
.other a{
	font-size: 13px;
    color: #a8a8a8;
    text-decoration: none;
}

/*表单验证弹出框*/
.bg{
	width:100%;
	height:100%;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
   display:none;
    z-index: 10;
}
.modal{
	width:400px;
	
	z-index:12;
	background:#fff;
	position: fixed;
    left: 50%;
    top: 30%;
    display: none;
    margin-left:-200px;
    border-radius: 5px;
    text-align:center;
}

.modal h3{
	height:40px;
	line-height:40px;
}
.modal .imfor{
	height:60px;
	line-height:60px;
}
.sure{
	width:100%;
	height:50px;
	background:#fe5478;
	color:#fff;
	line-height: 50px;
}
.modal .close{
	width:30px;
	height:30px;
	
    cursor: pointer;
	position: absolute;
	top:10px;
	right:10px;
}
.modal .close img{
	width:15px;
}