/*
* @Author: admin
* @Date:   2018-10-15 08:47:26
* @Last Modified by:   admin
* @Last Modified time: 2018-10-15 14:34:23
*/
header{
	width: 100%;
	height: 109px;
	border-bottom: 1px solid #ccc;

}

header>div{
	height: 110px;
}
header .mylogo{
	
	float: left;
	margin-left: 20px;
}
header .mylogo img{
	width: 90px;
	margin-top: 10px;
}
header .mynews{
	float: left;
	color: #000;
	font-size: 20px;
	
	margin-left: 20px;
}
header .mynews h3{
	padding-top: 20px;
	margin-bottom: 15px;
}
header .mynews p{
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 16px;
	color: #666;
}
 header .more{
	width: 60px;
	float: right;
	text-align: center;
	margin-right: 20px;
	line-height: 140px;
}
header  .more img{
	width: 22px;
	transform: rotate(180deg);
}
a{
	text-decoration: none;
}
.bg1{
	width: 100%;
	height: 10px;
	background-color: #f1f2f3;
}
/*订单*/

.order{
	width: 100%;

}
.order>div{
	width: 100%;
}
.myorder{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.myorder img{
	height: 40px;
	float: left;
	margin: 10px 20px;
}
.myorder h2{
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	color: #999;
}
.order ul{
	height: 80px;
	display: flex;
	text-align: center;
	margin-top: 20px;
}

.order li{
	flex: 1px;
}
.order a{
	color: #999;
	text-decoration: none;
}

/*个人资料*/
.usernews{
	width: 100%;
	
}
.usernews img{
	height: 40px;
	float: left;
	margin: 10px 20px;
}
.usernews h2{
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	color: #999;
	float: left;
}
.usernews li{
	height: 60px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

 .usernews .more{
	width: 60px;
	float: right;
	text-align: center;
	margin-right: 20px;
	line-height: 140px;
}
.usernews  .more img{
	width: 22px;
	transform: rotate(180deg);
}


footer{
	width:100%;
	height:60px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-top: 1px solid #ccc;
	
    font-size:16px;

}

footer ul{
	display: flex;

}

footer ul li{

	flex:1;
	text-align: center;
	padding-top:5px;
}
footer img{
	width:20px;
	height:20px;
	
}
footer a{
	text-decoration: none;
	color:#000;
}
footer .current a{
	color: rgb(254, 84, 120);
}



/*表单验证弹出框*/
.bg{
	width:100%;
	height:100%;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 10;
}
.modal{
	width:400px;
	z-index:12;
	background:#fff;
	position: fixed;
    left: 50%;
    top: 30%;
    display: none;
    margin-left:-200px;
    border-radius: 5px;
    text-align:center;
}

.modal h3{
	height:40px;
	line-height:40px;
}
.modal .imfor{
	height:60px;
	line-height:60px;
}
.choice{
	width: 100%;
	height: 50px;
	margin-bottom: 20px;

}
.choice>div{
	float: left;
	margin: 0px 10px;
	border-radius: 5px;
}
.sure{
	width:40%;
	height:50px;
	background:#fe5478;
	color:#fff;
	line-height: 50px;
}
.nosure{
	width:40%;
	height:50px;
	background:#fe5478;
	color:#fff;
	line-height: 50px;
}
